.categories__recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 50px;
}
.categories__recipes-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 300px;
}
.categories__recipes-item img {
    max-width: 100%;
}
.categories__recipes-item img {
    border-radius: 15px;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .categories__recipes-item {
        width: 7rem;
    }
    .categories__recipes {
        padding: 40px;
    }
}