.select {
  position: relative;
  overflow: hidden;
}
select {
  cursor: pointer;
  border: 0;
  background-color: #c8d8e4; 
}
.select::after {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  pointer-events: none;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  background-color: #c8d8e4; 
  border-radius: 10px;
  margin: 80px 0;
  align-items: center;
}
.form-select {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
}
.submit-button {
  background-color: #2b6777;
  padding: 12px;
  margin: 20px;
  text-decoration: none;
  color: white;
}
