.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #f2f2f2;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 150px;
        gap: 20px;
        padding: 20px;
    }
    .logo {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px) {
    
}