@import '../constants.css';

.content__wrapper {
    margin: 0 120px;
    margin-bottom: 50px;
}
.content__wrapper .recipes {
    display: flex;
    gap: 25px;
}

.recipes-item {
    background-color: #f2f2f2;
    width: 18rem;
    padding: 5px;
}
.recipes-item h4 {
    margin-top: 15px;
} 
.recipes-item img {
    width: 100%;
}
.header p {
    margin: 2rem 0;
    font-weight: 500;
}
.item {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-view {
    text-decoration: none;
    color: #52ab98;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .content__wrapper {
        margin: 50px;
    }
    .content__wrapper .recipes {
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipes-item {
        width: 7.8rem;
    }
}
@media only screen and (max-width: 480px) {
    .content__wrapper {
        margin: 40px;
    }
    .recipes-item {
        width: 7.8rem;
    }
}
