@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@1,500&family=League+Spartan:wght@400;500&family=Montserrat&display=swap');
.app {
    width: 100%;
}
.logo {
    text-decoration: none;
    color: black;
    margin-left: 80px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Figtree', sans-serif;
}
